{% extends "main.html" %}
{% load staticfiles %}

{% block main %}
<div id="main" class="flex-container">
    <div class="block project">
        <a href="{% url 'blog' %}">
            <h1>Pokyfriends Blog</h1>
            <img src="{% static 'images/pokyfriends.jpg' %}" alt="Pokyfriends Blog">
            <p>A blog to preserve things I've written, and hopefully write some new things.</p>
        </a>
    </div>
    
    <div class="block project">
        <a href="{% url 'pokedex-ebooks' %}">
            <h1>Pokédex Ebooks</h1>
            <img src="{% static 'images/pokedex-ebooks.jpg' %}" alt="Pokédex Ebooks">
            <p>Random Pokédex entry generator using Markov chains.</p>
        </a>
    </div>
    
    <div class="block project">
        <a href="{% url 'pokemon-size-quiz' %}">
            <h1>Pokémon Size Quiz</h1>
            <img src="{% static 'images/size-quiz.png' %}" alt="Pokémon Size Quiz">
            <p>Quiz yourself, and then challenge your friends to guess the size of various Pokémon.</p>
        </a>
    </div>
    
    <div class="block project">
        <a href="{% url 'pokemon_type_chart_quiz' %}">
            <h1>Pokémon Type Chart Quiz</h1>
            <img src="{% static 'images/pokemon-type-quiz.png' %}" alt="Pokémon Type Chart Quiz">
            <p>How effective are ghost type attacks against bug types? Try to fill the entire type chart with this quiz.</p>
        </a>
    </div>
    
    <div class="block project">
        <a href="{% url 'woz_index' %}">
            <h1>Worlds of ZZT</h1>
            <img src="{% static 'worlds_of_zzt/worlds_of_zzt.png' %}" alt="Worlds of ZZT">
            <p>A bot designed to post random ZZT screenshots on Twitter/Tumblr.</p>
        </a>
    </div>
    
    <div class="block project">
        <a href="{% url 'tbr_index' %}">
            <h1>Train Box Release</h1>
            <img src="{% static 'images/train_box_release.png' %}" alt="Train Box Release">
            <p>Given three Pokémon, which would you train, which would you box, and which would you release?</p>
        </a>
    </div>
    
    <div class="block project">
        <a href="{% url 'st_index' %}">
            <h1>Stitchr</h1>
            <img src="{% static 'stitchr/logo-tilt.png' %}" alt="Stitchr">
            <p>A tool to stitch together a series of images into a single image. Support local files as well as importing Tumblr Photosets.</p>
        </a>
    </div>
    
    <div class="block project invis"></div>
    
    {% comment %}<div class="block project invis"></div>{% endcomment %}
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div class="block about">
        <h3>About the Author</h3>
        <div class="logo"><img src="{% static 'images/meowth/'|add:meowth|add:'.jpg' %}"></div>
        <p class="l">I'm <a href="mailto:doctordos@gmail.com">Dr. Dos</a>, and I create things. Hopefully things that you'll enjoy!</p>
    </div>
</div>
{% endblock %}