*.pyc
*.vhost
*.log
*.pnws
*.vhost
manage.py

pokyfriends/private_settings.py
pokyfriends_web/static/images/meowth
pokyfriends_web/static/images/shuffle

blog/static/blog/posts

pokemon_size_quiz/static/pokemon_size_quiz/sugimori

venv
