*.pyc
*.vhost
*.log
*.pnws
*.vhost
manage.py
private_settings.py

blog/static/blog/posts

pokedex_ebooks/cron.py

pokemon_size_quiz/static/pokemon_size_quiz/sugimori

pokyfriends/private_settings.py
pokyfriends_web/static/images/meowth
pokyfriends_web/static/images/shuffle

robin/

/static/

train_box_release/static/train_box_release/x-y
train_box_release/static/train_box_release/icons

worlds_of_zzt/static/worlds_of_zzt/LessPerfectDOSVGA.ttf
worlds_of_zzt/static/worlds_of_zzt/poll


venv
