{% extends "main.html" %}
{% load staticfiles %}

{% block opengraph %}{% endblock %}

{% block main %}
<div id="main">

    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}

    <div class="block">
        <p>These comics were illustrated by <a href="http://theowlburrow.tumblr.com/" target="_blank">Katie</a>.</p>
        
        <div class="c">
            <img src="{% static 'pokedex_ebooks/garchompfinal.jpg' %}"><br>
            <img src="{% static 'pokedex_ebooks/minunfinal.jpg' %}"><br>
            <img src="{% static 'pokedex_ebooks/snorfinal.jpg' %}"><br>
            <img src="{% static 'pokedex_ebooks/meowthfinal.jpg' %}"><br>
            <img src="{% static 'pokedex_ebooks/purloinfinal.jpg' %}"><br>
            <img src="{% static 'pokedex_ebooks/shucklefinal.jpg' %}"><br>
            <img src="{% static 'pokedex_ebooks/torchicfinal.jpg' %}"><br>
            
            <a href="{% url 'pokedex-ebooks' %}">Return to Pokédex Ebooks</a>
        </div>
        
        
    </div>
    
    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div class="block about">
        <h3>More Ébooks</h3>
        <div class="logo"><img src="{% static 'pokedex_ebooks/imposter.png' %}"></div>
        <p>
            <a href="https://twitter.com/pokedex_ebooks" class="twitter-follow-button" data-show-count="false">Follow @pokedex_ebooks</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <br>
        Tweets every third hour!
        </p>
        <p><a href="{% url 'pe_comics' %}">Pokédex Ebooks Comics</a>
    </div>
</div>
{% endblock %}