{% extends "main.html" %}
{% load staticfiles %}

{% block opengraph %}{% endblock %}

{% block css %}
<style>
.controls
{
    margin:auto;
    text-align:center;
}

.controls .col
{
    width:20%;
    text-align:left;
}

.controls label
{
    font-weight:bold;
}

input[type="submit"]
{
    width:auto;
}

.entry
{
    width:50%;
    margin:auto;
    font-size:20pt;
    border:2px solid #000;
    border-radius:8px;
    padding:0.25em;
}

.entry p
{
    margin:0;
}
</style>
{% endblock %}

{% block main %}
<div id="main">

    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}

    <div class="block">
        <div class="entry"><p>{{markov}}</p></div>
        <hr>

        <div class="controls">
            <form>
            <div class="col" id="length">
                <label>Entry length</label><br>
                <input type="radio" name="size" value="140" {% if request.GET.size == '140' %} checked {% endif %}{% if not request.GET.size %} checked {% endif %}> Short <br>
                <input type="radio" name="size" value="300" {% if request.GET.size == '300' %} checked {% endif %}> Medium <br>
                <input type="radio" name="size" value="500" {% if request.GET.size == '500' %} checked {% endif %}> Long <br>
            </div>
            <div class="col" id="ambiguity">
                <label>Ambiguity</label><br>
                <input type="radio" name="ambiguous" value="1" {% if request.GET.ambiguous == '1' %} checked {% endif %}> On<br>
                <input type="radio" name="ambiguous" value="0" {% if request.GET.ambiguous != '1' %} checked {% endif %}> Off
            </div>
            <div class="col" id="starts">
                <label>Starts with</label><br>
                <input name="starts_with" value="{{request.GET.starts_with|default:''}}">
            </div>
            <div class="col" id="reroll">
                <input type="submit" value="New Pokédex Entry"><br>
                
                <a href="{% url 'pokedex-ebooks' %}?size={{request.GET.size|default:140}}&ambiguous={{request.GET.ambiguous|default:1}}&starts_with={{request.GET.starts_with}}&seed={{seed}}">Entry Permalink</a>
            </div>
            </form>
        </div>
    </div>
    
    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div class="block about">
        <h3>More Ébooks</h3>
        <div class="logo"><img src="{% static 'pokedex_ebooks/imposter.png' %}"></div>
        <p>
            <a href="https://twitter.com/pokedex_ebooks" class="twitter-follow-button" data-show-count="false">Follow @pokedex_ebooks</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <br>
        Tweets every third hour!
        </p>
        <p><a href="{% url 'pe_comics' %}">Pokédex Ebooks Comics</a>
    </div>
</div>
{% endblock %}