{% extends "main.html" %}
{% load staticfiles %}
{% load as_template %}
{% load zzt_tags %}

{% block canon %}<link rel="canonical" href="{{PROTOCOL}}{{request.get_host}}/blog/{{post.id}}/{{post.title|slugify}}" />{% endblock %}

{% block opengraph %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@doscoon" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="{{post.summary}}" />
<meta name="twitter:image" content="{{PROTOCOL}}{{request.get_host}}{% static 'blog/posts/' %}{{post.id}}/preview.png" />
{% endblock %}

{% block main %}
<div id="main">
<div class="block post">
    <h2><a href="{% url 'entry' post.id post.title|slugify %}">{{post.title}}</a></h2>
    <div class="meta">
        <div class="date">{{post.timestamp}}</div>
        {% if post.source %}<div class="source">Original location: <a href="{{post.source}}" target="_blank">{{post.source}}</a></div>{% endif %}
    </div>
    {% comment %}
    <div class="share">
    Twitter | Tumblr | Facebook | Reddit
    </div>
    {% endcomment %}
    
    {% if has_pages %}
    <nav class="pages">
        Pages:<br>
        {% for p in page_count %}
        {% if forloop.counter != 1 %} &bull; {% endif %}<a href="{% url 'entry' post.id post.title|slugify %}?p={{forloop.counter}}"{% if forloop.counter == page %} class="selected"{% endif %}>{{p}}</a>
        {% endfor %}
    </nav>
    {% endif %}
    
    {% if ADS %}
    <div class="ad" style="width:100%">
    <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}
    
    <article class="content">
    {{post.content|as_template}}
    </article>
    
    {% if ADS %}
    <div class="ad" style="width:100%">
    <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}
    
    {% if has_pages %}
    <nav class="pages">
        Pages:<br>
        {% for p in page_count %}
        {% if forloop.counter != 1 %} &bull; {% endif %}<a href="{% url 'entry' post.id post.title|slugify %}?p={{forloop.counter}}"{% if forloop.counter == page %} class="selected"{% endif %}>{{p}}</a>
        {% endfor %}
    </nav>
    {% endif %}
    
    <div class="tags">{% for tag in post.tags.all %}<div class="tag"><a href="{% url 'tagged' tag.slug %}">#{{tag.name}}</a></div>{% endfor %}</div>
    
    <div id="disqus_thread"></div>
    {% block disqus %}
    <script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
    
    var disqus_config = function () {
        this.page.url = "{{PROTOCOL}}{{request.get_host}}/blog/{{post.id}}/{{post.title|slugify}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "blog={{post.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//pokyfriends.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endblock %}
</div>

<div id="pages">
    {% if post.id != 1 %}<a href="{% url 'prev' post.id %}"><div class="block button" style="float:left">
    Previous Post
    </div></a>{% endif %}
    
    {% if post.id != latest.0.id %}<a href="{% url 'next' post.id %}"><div class="block button" style="float:right">
    Next Post
    </div></a>{% endif %}
</div>
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div class="block about">
        <h3>About</h3>
        <div class="logo"><img src="{% static 'images/meowth/'|add:meowth|add:'.jpg' %}"></div>
        <p>I'm <a href="mailto:doctordos@gmail.com">Dr. Dos</a>, and sometimes I produce articles and other fun web pages.<br>I make sure it's preserved here and not lost to time.</p>
    </div>

    <div class="block latest">
        <h3>Latest Entries</h3>
        <ul>
        {% for post in latest %}
        <li><a href="{% url 'entry' post.id post.title|slugify %}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
        <div class="all"><a href="{% url 'archive' %}">View All</a></div>
    </div>

    {% if ADS %}
    <div class="block ad">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Pokyfriends Blog responsive -->
        <ins class="adsbygoogle"
             style="display:block;max-width:170px;"
             data-ad-client="ca-pub-4412759244252723"
             data-ad-slot="2115202160"
             data-ad-format="vertical"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {% endif %}

    <div class="block tagged">
        <h3>Random Tags</h3>
        {% for tag in tagged %}
            <a href="{% url 'tagged' tag.slug %}">#{{tag.name}}</a>
        {% endfor %}
        <br>
        <div class="all"><a href="{% url 'tag_list' %}">View All</a></div>
    </div>
</div>
{% endblock %}