{% extends "tbr_main.html" %}
{% load staticfiles %}

{% block opengraph %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@doscoon" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:description" content="X" />
<meta name="twitter:image" content="{{PROTOCOL}}{{request.get_host}}" />
{% endblock %}

{% block css %}
<style>
.wrapper
{
    width:100%;
    text-align:center;
}

.pokemon
{
    width:200px;
    margin:0.25em;
    font-family:monospace;
    font-weight:bold;
    font-size:14pt;
    color:#FFF;
    text-shadow: 2px 2px 0px #0A0A0A;
}

.pokemon .img
{
    background-color:#807870;
    border-radius:50%;
    width:200px;
    height:200px;
}

.pokemon .img img
{
    width:120px;
    height:120px;
}

.pokemon button
{
    width:100%;
}

.pokemon input[type="radio"]
{
    display:none;
}

.pokemon label
{
    height:1.25em;
    padding:0.25em;
    margin:0.1em;
    border-radius:0.5em;
    cursor:pointer;
    color:#FFF;
    text-shadow: 2px 2px 0px #0A0A0A;
}

label[name=train].selected, label[name=train]:hover  { background-color:#F05030; }
label[name=box].selected, label[name=box]:hover { background-color:#6890F0; }
label[name=release].selected, label[name=release]:hover { background-color:#78C850; }
label[name=train] { background-color:#807870; }
label[name=box] { background-color:#807870; }
label[name=release] { background-color:#807870; }

.controls
{
    width:100%;
    margin-top:1.5em;
    text-align:center;
}

.controls input[type="button"]
{
    padding:0.25em;
    border-radius:0.5em;
    cursor:pointer;
    font-family:monospace;
    font-weight:bold;
    font-size:14pt;
    color:#FFF;
    text-shadow: 2px 2px 0px #0A0A0A;
    width:100%;
    max-width:600px;
    background-color:#807870;
    border:0;
}

.controls input[type="button"]:hover
{
    background-color:#98D8D8;
}

#results
{
    display:none;
}

#recent
{
    border:1px dashed #000;
    height:200px;
    overflow-y:auto;
}

#recent a
{
    display:block;
    width:100%;
    text-align:center;
}

#recent a:hover
{
    background:#CCC;
}

#recent a + a
{
    border-top:1px dotted #000;
}

#recent a img
{
    margin-left:10px;
    margin-right:10px;
}
</style>

{% endblock %}

{% block main %}
<div id="main">
    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}

    <div class="block">
    <div id="primary">
        <div class="wrapper">
        {% for p in pokemon %}
            <div class="col pokemon" data-count="{{forloop.counter}}">
                <div class="img">
                    <div class="number" data-num="{{forloop.counter}}">#{{p.number}}</div>
                    <div><img src="{% static 'train_box_release/x-y/'|add:p.number|add:'.png' %}" alt="{{p.number}}" data-num="{{forloop.counter}}"></div>
                    <div class="name" data-num="{{forloop.counter}}">{{p.name}}</div>
                </div>
                <br>
                <select name="p{{forloop.counter}}" data-num="{{forloop.counter}}">
                {% for k,v in list.items %}
                    <option value="{{k}}"{% if v == p.name %} selected{% endif %}>{{v}}</option>
                {% endfor %}
                </select>
            </div>
        {% endfor %}
        </div>
        <div class="controls">
            <input type="button" value="Go to Trio" id="go">
        </div>
    </div>
    </div>
    
    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
$(document).ready(function (){
    $("#confirm").prop("disabled", false);
    
    $("#quickpick").change(function (){
        if ($(this).val() == "NONE")
            return false;
            
        window.location = "/train-box-release/"+$(this).val();
    });
    
    $("#primary select").change(function (){
        $(".number[data-num="+$(this).data("num")+"]").text("#"+$(this).val());
        $("img[data-num="+$(this).data("num")+"]").attr("src", "/static/train_box_release/x-y/"+$(this).val()+".png");
        $(".name[data-num="+$(this).data("num")+"]").text($("select[name=p"+$(this).data("num")+"] option:selected").text());
    });
    
    $("#go").click(function (){
        window.location = "/train-box-release/"+$("select[name=p1]").val()+"/"+$("select[name=p2]").val()+"/"+$("select[name=p3]").val();
    });
});
</script>
{% endblock %}