{% extends "worlds_of_zzt/woz_main.html" %}
{% load staticfiles %}

{% block opengraph %}{% endblock %}

{% block css %}
<style>
#timeline
{
    max-width:640px;
    margin:auto;
    height:600px;
    overflow:auto;
    border:1px solid #000;
}
</style>
{% endblock %}

{% block main %}
<div id="main">

    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}

    <div class="block">
        <div id="timeline">
            <a class="twitter-timeline" href="https://twitter.com/worldsofzzt">Tweets by worldsofzzt</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    
    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}

</div>
{% endblock %}