{% extends "main.html" %}
{% load staticfiles %}

{% block opengraph %}{% endblock %}

{% block css %}
<style>
#timeline
{
    max-width:640px;
    margin:auto;
    min-height:200px;
    max-height:600px;
    overflow:auto;
    border:1px solid #000;
}
</style>
{% endblock %}

{% block main %}
<div id="main">

    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}

    <div class="block">
        <div id="timeline">
            <a class="twitter-timeline" href="https://twitter.com/worldsofzzt">Tweets by worldsofzzt</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    
    {% if ADS %}
    <div class="block ad">
        <!-- Pokyfriends - Responsive Ad --><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4412759244252723" data-ad-slot="2115202160" data-ad-format="auto"></ins>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div class="block about">
        <h3>Worlds of ZZT</h3>
        <div class="logo"><img src="{% static 'worlds_of_zzt/avatar-150.png' %}"></div>
        <p>
            <a href="https://twitter.com/worldsofzzt" class="twitter-follow-button" data-show-count="false">Follow @worldsofzzt</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <br>
        Tweets every third hour!
        </p>
        <p><a href="http://worldsofzzt.tumblr.com">Worlds of ZZT on Tumblr</a></p>
        <p><a href="{% url 'woz_faq' %}">Worlds of ZZT FAQ</a>
    </div>
</div>
{% endblock %}